language: php

env:
  - COVERALLS_PHP_VERSION="5.5"

php:
  - 5.4
  - 5.5
  - 5.6

before_install:
  - composer self-update

install:
  - composer install --no-interaction --prefer-source --dev

script:
  - phpunit --coverage-clover tests/coverage-clover.xml

after_script:
  - bin/aftertest
